.logo-brand {
    width: 80px;
    padding: 10px 0;
}

.iconos-redes-header {
    width: 25px;
    margin: 10px 6px;

}
.BannerPaisaje {
    background-image: url("./Imagenes/Paisaje.jpg");
    padding: 200px 0;
    position: relative;
    text-align: center;
}



.paddi {
    padding: 70px 0px;
}

body {
    background: #000000;
    background: linear-gradient(to right, #000000, #008f39, #000000)
}

.bg {
    background-image: url(./Imagenes/bgregistro.jpg);
    background-position: center center;
}
